{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        {{ include('carrousel.html.twig') }}
        <p class="my-5 text-center fw-bold p-carrousel col-10 mx-auto" >Venez découvrir nos paniers de fruits et légumes frais</p>
        <h1 class="my-5 text-center fw-bold h1-font-size main-color">Nos bons plans</h1>
        <section class="container-fluid">
            <div class="row justify-content-center align-items-center justify-content-md-center">
                {% for item in products %}
                    {{ include('card_affichage/card_affichage.html.twig') }}
                {% endfor %}
            </div>
            <div class="text-center">
                <a href="{{ path("app_search_products") }}" class="btn btn-button-not-card text-decoration-none link-button-home text-color-card-products
                col-6 col-sm-4 col-md-3 col-xl-2 p-2 rounded-2 background-color-card-button my-5" >
                    Voir tous les produits
                </a>
            </div>
        </section>
    </main>
{% endblock %}




