{% extends 'base.html.twig' %}

{% block title %}Historique commandes{% endblock %}

{% block body %}
    <h1 class="h1-font-size main-color">Notre histoire</h1>
    {% for item in histoireEntreprise %}
        <div class="container_historique_entreprise">
            <div>
                <h3>{{ item.histannee }}</h3>
            </div>
            <p class="p_historique_description background-secondary-color">{{ item.histdescription }}</p>
        </div>
        <div class="center-hr">
        {# on affiches le hr sauf pour le dernier élement #}
            {%  if not loop.last %}
            <hr class="hr_historique_entreprise">
            {%  endif  %}
        </div>
    {%  endfor %}
{% endblock %}
