
// cards

.main-color
{
  color: #054916;
}

.background-main-color
{
  background-color: #054916;
}

.background-secondary-color
{
  background: rgba(5, 73, 22, 0.20);
}

// cards et buttons

.text-color-card-products
{
  color: #D9D9D9;
}

.background-color-card-button
{
  background-color: #e75824;
}



