
.h1_historique_entreprise
{
  margin: 3.125rem 0 3.125rem 0;
  text-align: center;
}

.container_historique_entreprise
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}

.container_historique_entreprise h3
{
  font-size: 1.875rem;
}

.container_historique_description
{
  width: 60%;
}

.center-hr
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr_historique_entreprise
{
  border-left: 2px solid #22b14c;
  display: inline-block;
  height: 8.125rem;
}

.p_historique_description {
  font-size: 1.6rem;
  padding: 1.25rem;
  border-radius: 0.625rem;
  background: rgba(34, 177, 76, 0.2);
  margin: 0 1.5625rem 0 1.5625rem;
}

@media(min-width: 768px) {

  .p_historique_description {
    font-size: 1rem;
  }
  .container_historique_entreprise h3 {
    font-size: 1.2rem;
  }
  .hr_historique_entreprise {
    border-left: 2px solid #22b14c;
    display: inline-block;
    height: 4.375rem;
  }
  .container_historique_description {
    width: 40%;
  }
}

