
// bouton retour page précédente

.button_go_back
{
  text-decoration: none;
  color:white;
  background-color: #e75824;
  padding: 0.625rem;
  border-radius: 0.625rem;
}

// background card

.background-color-green-light
{
  background: rgba(34,177,76,0.22);
}

.background-color-grey
{
  background: rgba(217, 217, 217, 0.5);
}
