
hr
{
  background-color: #22B14C;
}

.footer-font-size-text
{
  font-size: 1.25rem;
}

footer h3
{
  font-size: 1.875rem;
}

.img-rooster-footer
{
height: 9.375rem;
width: 9.375rem;
}

.icons-footer
{
  height:2.5rem;
  width:2.5rem;
}

.icons-stipe
{
  width: 9.375rem;
  object-fit: contain;
}

footer
{
  overflow-x: hidden;
}

