
//hr
//{
//  background-color: #22B14C;
//}

.footer-font-size-text
{
  font-size: 1.6rem;
}

footer h3
{
  font-size: 1.875rem;
}

.title-h3
{
  font-size: 2rem;
}

.img-rooster-footer
{
height: 16rem;
width: 16rem;
}

.icons-footer
{
  height:2.5rem;
  width:2.5rem;
}

.icons-stipe
{
  width: 12rem;
  object-fit: contain;
}

@media (min-width: 992px)
{
  .img-rooster-footer
  {
    height: 9rem;
    width: 9rem;
  }
  .title-h3
  {
    font-size: 1.2rem;
  }
  .footer-font-size-text
  {
    font-size: 0.8rem;
  }
  footer h3
  {
    font-size: 1.2rem;
  }
  .icons-footer
  {
    height: 1.5rem;
    width: 1.5rem;
  }
}


