
hr
{
  background-color: #22B14C;
}

.footer-font-size-text
{
  font-size: 1.6rem;
}

@media (min-width: 992px)
{
  .footer-font-size-text
  {
    font-size: 1rem;
  }
}

footer h3
{
  font-size: 1.875rem;
}

.title-h3
{
  font-size: 2rem;
}

@media (min-width: 992px)
{
  .title-h3
  {
    font-size: 1.5rem;
  }
}

.img-rooster-footer
{
height: 16rem;
width: 16rem;
}

@media (min-width: 992px)
{
  .img-rooster-footer
  {
    height: 12rem;
    width: 12rem;
  }
}

.icons-footer
{
  height:2.5rem;
  width:2.5rem;
}

.icons-stipe
{
  width: 12rem;
  object-fit: contain;
}

footer
{
  overflow-x: hidden;
}

