
// label

.label-prenom, .label-nom, .label-email, .label-check-password, .label-password, .button-submit-form-register
{
  font-size: 1.3rem;
  margin: 0.8rem 0 0.8rem 0;
}

// input

.input-prenom, .input-nom, .input-email, .input-password, .input-check-password, .input-agreeTerms
{
  background-color: #054916;

}

// form background

.form
{
  background: rgba(5, 73, 22, 0.20);
  padding: 1.25rem;
  border-radius: 0.625rem;
  width: 80%;
}

// responsive label

@media(min-width:768px)
{
  .label-prenom, .label-nom, .label-email, .label-check-password, .label-password, .button-submit-form-register
  {
    font-size: 1rem;
  }

}

// responsive form

@media(min-width:768px)
{
  .form
  {
    width: 60%;
  }
}

@media(min-width:992px)
{
  .form{
    width: 50%;
  }
}

@media(min-width:1200px)
{
  .form{
    width: 50%;
  }
}
