
//GENERAL
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.bg-green {
  background-color: #22B14C;
}

// HEADER

h1 {
  color: #22B14C;
}

h1 {
  font-size: 2.5rem;
}

@media(min-width: 992px) {
  h1 {
    font-size: 1.875rem;
  }

}
.bg-grey {
  background-color: #D9D9D9;
  width: auto;
}

.img-rooster {
  height: 12rem;
  width: 12rem;
}

.img-cart {
  height: 8rem;
  width: 8rem;
}

@media(min-width:992px) {
  .img-rooster  {
    height: 10rem;
    width: 10rem;
  }
  .img-cart {
    height:6rem;
    width: 6rem;
  }
}

 //NAVBAR

.nav-link
{
  font-size:2.188rem;
}

@media(min-width: 992px) {
  .nav-link {
    font-size: 1.25rem;
  }

}

@media(min-width: 992px) {

  .navbar-collapse {
    justify-content: space-between;
  }
}









