
body
{
  overflow-x: hidden;
}

//GENERAL
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.bg-green {
  background-color: #22B14C;
}

// HEADER

h1 {
  color: #22B14C;
}

 //NAVBAR

.nav-link
{
  font-size: 1.3rem ;
}

@media(min-width:768px) {
  .navbar-collapse {
    justify-content: space-between;
  }
}

@media(min-width: 992px) {
  .nav-link
  {
    font-size: 1.1rem;
  }
}

@media(min-width: 1200px)
{
  .nav-link
  {
    font-size: 1.3rem;
  }
}











