

// h1

.h1-font-size
{
  margin: 3.125rem 0 3.125rem 0;
  text-align: center;
  font-size: 2rem;
}

// carrousel

.img-carrousel
{
  max-height: 37.5rem;
  object-fit: cover;
}

.p-carrousel
{
  font-size:1.8rem;
}

// card

.card:hover
{
  .link-details-hidden
  {
   display: block;
  }
}

.card
{
  border-radius: 0.635rem !important;
  padding: 0;
  overflow: hidden;
}

.card-img-top
{
  height: 11.25rem;
  object-fit: cover;

}

.card-title
{
  font-size: 1.3rem;
}

.card-text, .card-promo
{
  font-size:1rem;
}

.link-details-hidden
{
 display: none;

}

// bouton sur card

.btn-button-card, .btn-home-page, .btn-button-not-card
{
  font-size:1.1rem;
}

.btn-button-card:hover
{
  color:#D9D9D9;
}

.btn-button-not-card:hover
{
  color:black;
}

.icon-card
{
  height: 1.875rem;
}

.link-button-home
{
  font-size: 1.3rem;
}

.link-product
{
  display: none;
}

// responsive titres

@media(min-width: 576px)
{
  .p-carrousel
  {
    font-size:1.6rem;
  }
}

// responsive carrousel

@media(min-width:576px)
{
  .img-carrousel
  {
    max-height: 18.75rem;
  }
}

@media(min-width: 768px) {
  .img-carrousel {
    max-height: 25rem;
  }
}

@media(min-width: 1200px) {
  .img-carrousel {
    max-height: 28rem;
  }
}

@media(min-width:1400px)
{
  .img-carrousel
  {
    max-height:35rem;
  }
}

// responsive cards

@media(min-width:768px)
{
  .card-img-top
  {
    object-fit: cover;
    height: 12.5rem;

  }
  .link-button-home
  {
    font-size: 1.3rem;
  }
}

