
// carrousel

.img-carrousel
{
  max-height: 500px;
  object-fit: cover;
}

.p-carrousel
{
  color: #22B14C;
  font-size: 2.188rem;
}

.h2-font-size-home
{
  font-size: 2.188rem;
}

@media(min-width:992px)
{
  .p-carrousel{
    font-size: 1.6rem;
  }
  .h2-font-size-home
  {
    font-size: 1.6rem;
  }
  .img-carrousel
  {
    max-height:450px;
  }
}

@media(min-width: 1200px)
{
  .img-carrousel
  {
    max-height: 600px;
  }
}

//card

.card
{
  --bs-card-border-width: 0;
  max-height: 400px;
}

.card-body, .btn-background-green
{
  background-color: #22B14C;
}

.card-img-top
{
    max-height: 200px;
    object-fit: cover;

}

.card-text, .card-title, .card-promo
{
    color: white;
}

.card-title
{
  font-size: 2rem;
}

.card-text, .card-promo
{
  font-size:1.8rem;
}

.btn-button-card, .btn-home-page
{
  background-color: orangered;
  color:white;
  font-size:1.6rem;
}

.icon-card
{
  height: 30px;
}

.position-button-bottom-home-page
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.position-button-bottom-home-page a
{
  text-decoration: none;
  background-color:orangered;
  color: white;
  font-size: 1.6rem;
  padding:15px;
  border-radius:10px;
  text-align: center;
}

@media(min-width:992px)
{
  .position-button-bottom-home-page
  {
    margin-top:40px;
  }
  .position-button-bottom-home-page a
  {
    font-size: 1.2rem;
  }
  .card-title, .card-text, .card-promo {
    font-size: 0.9rem;
  }
  .btn-button-card
  {
    font-size: 0.7rem;
  }
  .icon-card
  {
    height: 20px;
  }
  .card-img-top
  {
    min-height: 112px;
    object-fit: cover;
  }
}

