
// carrousel

.img-carrousel
{
  max-height: 37.5rem;
  object-fit: cover;
}

.p-carrousel
{
  color: #22B14C;
  font-size:1.5rem;
}

// card

.card-body, .btn-background-green
{
  background-color: #22B14C;
}

.card-img-top
{
  height: 11.25rem;
  object-fit: cover;

}

.card-text, .card-title, .card-promo
{
    color: white;
}

.card-title
{
  font-size: 1.3rem;
}

.card-text, .card-promo
{
  font-size:1rem;
}

.btn-button-card, .btn-home-page
{
  background-color: #e75824;
  color:white;
  font-size:1.1rem;
}

.icon-card
{
  height: 1.875rem;
}

.position-button-bottom-home-page
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.375rem;
}

.position-button-bottom-home-page a
{
  text-decoration: none;
  background-color:#e75824;
  color: white;
  font-size: 1.3rem;
  padding:0.9375rem;
  border-radius:0.625rem;
  text-align: center;
}

// cards fct js changer background + bouton voir le produit au click sur la card

.card
{
  border-radius: 0.635rem !important;
  padding: 0;
  overflow: hidden;
  background: rgba(34, 177, 76, 0.75);
}

.selected {
  /* styles pour la carte sélectionnée */
  background-color: #22b14c;
  opacity: 0.5;
}

.product-link {
  /* styles pour le lien "Voir le produit" */
  color: white;
  text-decoration: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  border: 0.125rem solid white;
  padding: 0.25rem;
  border-radius: 0.313rem;
}

// responsive carrousel

@media(min-width:576px)
{
  .img-carrousel
  {
    max-height: 18.75rem;
  }
}

@media(min-width: 768px) {
  .img-carrousel {
    max-height: 25rem;
  }
}

@media(min-width: 1200px) {
  .img-carrousel {
    max-height: 28rem;
  }
}

@media(min-width:1400px)
{
  .img-carrousel
  {
    max-height:35rem;
  }
}

// responsive cards

@media(min-width:768px)
{
  .card-img-top
  {
    object-fit: cover;
    height: 12.5rem;

  }
  .position-button-bottom-home-page a
  {
    font-size: 1.3rem;
  }
}

