
// buttons filtres

.btn-search-fruits, .btn-search-legumes, .btn-search-paniers
{
  padding: .625rem 1.25rem .625rem 1.25rem;
  margin-right: 1.25rem;
  font-size: 1.5rem;
}

.btn-search-fruits
{
  background: rgba(5, 73, 22, 0.20);
}

.btn-search-legumes
{
  background: rgba(5, 73, 22, 0.50);
}

.btn-search-paniers {
  background-color: black;
  color: white;

}

// cards

.card-text:last-child {
  margin-bottom: 1rem;
}

.input-search {
  border: 0.125rem solid rgba(5, 73, 22, 0.50);
}

.label-search
{
  font-size: 1.3rem;
}

.input-search-submit
{
  font-size: 1.3rem;
  border: 0.0625rem solid rgba(5, 73, 22, 0.50);
}

//div alert

.text-div-alert
{
  font-size: 1.3rem;

}

// responsive

@media(min-width: 768px)
{
  .label-search
  {
    font-size: 1.1rem;
  }

}