
.btn-search-fruits, .btn-search-legumes, .btn-search-paniers
{
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
  font-size: 1.5rem;
}

.btn-search-fruits
{
  background: rgba(34, 177, 76, 0.5);
}

.btn-search-legumes
{
  background: rgba(34, 177, 76, 0.75);
}

.btn-search-paniers
{
  background-color: black;
  color: white;
}

//.input-search
//{
//  background: rgba(34, 177, 76, 0.2);
//  border-radius: 10px;
//  border: 2px solid rgba(34, 177, 76, 0.75);
//}
//
//.label-search
//{
//  font-size: 1.3rem;
//}
//
//.input-search-submit
//{
//  font-size: 1.3rem;
//  background-color: #22b14c;
//  padding: 10px;
//  color: white;
//  border: 2px solid rgba(34, 177, 76, 0.2);
//}
