
// autres

.h1_historique_entreprise
{
  margin: 3.125rem 0 3.125rem 0;
  text-align: center;
}

// buttons filtres

.btn-search-fruits, .btn-search-legumes, .btn-search-paniers
{
  padding: .625rem 1.25rem .625rem 1.25rem;
  margin-right: 1.25rem;
  font-size: 1.5rem;
}

.btn-search-fruits
{
  background: rgba(34, 177, 76, 0.5);
}

.btn-search-legumes
{
  background: rgba(34, 177, 76, 0.75);
}

.btn-search-paniers
{
  background-color: black;
  color: white;
}

// cards

.card-text:last-child {
  margin-bottom: 1rem;
}

.input-search
{
  background: rgba(34, 177, 76, 0.2);
  border-radius: 0.625rem;
  border: 0.125rem solid rgba(34, 177, 76, 0.75);
}

.label-search
{
  font-size: 1.3rem;
}

.input-search-submit
{
  font-size: 1.3rem;
  background-color: #22b14c;
  padding: 0.5rem;
  color: white;
  border: 0.0625rem solid rgba(34, 177, 76, 0.2);
  border-radius: 0.125rem;
}

//div alert

.text-div-alert
{
  font-size: 1.3rem;

}

