
<div id="carouselProductsHome" class="carousel slide mt-3" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="{{ asset("build/images/panier_fruits.jpg") }}" class="d-block w-100 img-carrousel" alt="panier de légumes frais">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{{ asset("build/images/panier_legume_petit.jpg") }}" class="d-block w-100 img-carrousel" alt="panier de fruits">
        </div>
        <div class="carousel-item">
            <img src="{{ asset("build/images/panier_fruit_legume_moyen.jpg") }}" class="d-block w-100 img-carrousel" alt="panier de légumes frais 2">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProductsHome" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselProductsHome" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>