
<div class="row mx-0 px-0">
    <div class="d-flex align-items-center justify-content-around justify-content-sm-between">
        <img src="{{ asset("build/images/coq.png") }}" alt="corporate identity rooster logo" class="rounded-circle m-3 col-3 col-sm-2 col-xl-1">
        <h1 class="text-uppercase text-center mt-3 col-6 col-sm-4">Agribourg</h1>
        <img src="{{ asset("build/images/cart.png") }}" alt="" class="img-cart col-3 col-sm-1 d-none d-sm-block">
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-green mt-2">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-start">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ path('app_company_history') }}">Notre histoire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Savoir-faire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Témoignages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Contacts</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Connexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



