

    <div class="d-flex justify-content-center align-items-center flex-column flex-sm-row justify-content-lg-around my-5">
        <a href="{{ path("app_search_products") }}" type="button" class="btn btn-search-fruits my-3 my-md-0">Fruits</a>
        <a href="{{ path("app_search_products_vegetables") }}" type="button" class="btn btn-search-legumes my-3 my-md-0">Légumes</a>
        <a href=" {{ path('app_search_products_fruts_exotic') }}" type="button" class="btn btn-search-fruts-exotic my-3 my-md-0 text-color-card-products">Fruits exotiques</a>
        <a href="{{ path("app_search_products_baskets") }}" class="btn btn-search-paniers my-3 my-md-0 text-color-card-products">Nos paniers</a>
    </div>

