
<div class="d-flex justify-content-center align-items-center flex-column justify-content-md-around flex-md-row">
    <div class="mt-5 d-flex justify-content-around align-items-center">
        {# bouton pour revenir à la page précédente fonction JS goBack() #}
        <a onclick="goBack()" type="button" class="button_go_back text-color-card-products">Allez à la page précédente</a>
    </div>
    <div class="mt-5 d-flex justify-content-around align-items-center">
        <a href="{{ path('app_home') }}"  type="button" class="button_go_back text-color-card-products">Retounez à l'accueil</a>
    </div>
</div>