{% extends 'base.html.twig' %}

{% block title %}ExpertiseController{% endblock %}

{% block body %}
    <h1 class="h1-font-size main-color">Notre savoir faire</h1>
    <div class="container_expertise_entreprise background-secondary-color">
        <div>
            <h3 class="margin_top_p_savoir_faire">Vertus de l'agriculture biologique:</h3>
            <p class="margin_top_p_savoir_faire">
                Notre société pratique l’agriculture biologique et est engagé dans le respect
                de l’environnement.
                <br><br>
                Depuis sa création, elle s’évertue à réduire son empreinte carbone notamment en limitant le plus possiible l’utilisation d’engrais chimique
                , d’ogms et limiter l’emploi d’intrans.
                <br><br>
                Notre mode de production à pour particularité d’avoir recours à des pratiques culturales et
                d’élevage soucieuses du respect des équilibres naturels.
            </p>
            <h3 class="margin_top_p_savoir_faire">Nous rencontrer:</h3>
            <p class="margin_top_p_savoir_faire">
                Notre équipe et moi-meme vous proposons de nous rencontrer directement à  la ferme et
                au magasin.
                <br><br>
                Vous aurez la possibilité de dégustez des produits fabriqués directement sur place comme
                des compotes, des confitures, des soupes, des plats cuisinés.
                <br><br>
                Vous pourrez également voir nos produits directement en plantation et nos fabrications en
                magasin.
            </p>
        </div>
    </div>
{% endblock %}

